.heading{
width: 100%;
text-align: left;
background-color: white;
border:2px solid black;

}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}



#canvas{
    border: 3px solid rgb(179, 159, 159);
    background-color: black;
    height: 600px;
    width: 600px;
}

#start{
    background-color: white;
    border:2px solid black ;
    color:black;
    font-size: large;
}

#restart{
    background-color: white;
    border:2px solid black ;  
    color: black;
    font-size: large;
}